html, body {
	font-size: 12px;
	font-family: sans-serif;
	margin: 0px;
	padding: 0px;
	height: 100%;
}

header {
	background-color: #EB0318;
	background-image: url("#{resource['default:images/aqua.png']}");
	background-repeat: no-repeat;
	height: 40px;
	box-sizing: border-box;
}

.header-div-left {
	float: left;
	display: inline-block;
	padding: 1px;
}

.noLink {
	text-decoration: none;
}

.noLink span {
	padding: 10px;
}

.noLink:hover {
	text-decoration: underline;
}

.header-div-right {
	float: right;
	padding: 5px;
}

.header-div-menu {
	overflow: visible;
}

.logo {
	padding: 5px;
}

.name {
	color: #FFF;
	padding: 10px;
	font-weight: bold;
	font-size: 16px;
	letter-spacing: -1px;
}

.ui-layout-north {
	z-index: 20 !important;
	overflow: visible !important;
}

.ui-layout-north .ui-layout-unit-content {
	overflow: visible !important;
}

#j_idt6 {
	padding: 0px !important;
}

.ui-layout-unit-content {
	overflow: hidden !important;
	padding: 0px !important;
}

.ui-panel-titlebar {
	text-align: center;
}

.lblLeft {
	width: 100px;
	display: block;
	padding-left: 10px;
}

.lblRight {
	width: 120px;
	display: block;
}

.lblLeft2 {
	width: 70px;
	display: block;
}

.ui-panelgrid {
	float: left;
	overflow: scroll;
}

.ui-datatable-scrollable-header-box {
	padding-right: 16px !important; /*originally this is 40px*/
}

.ui-datatable-scrollable-body {
	overflow-y: scroll !important;
}

.ui-datatable-tablewrapper {
	overflow-x: auto;
}

.king-size {
	overflow: scroll;
}

/* 
Modificando estilos para trabajar con bootstrap
@author: TechniSupport SAS 

*/
div#mainNavbar {
	background-color: #EB0318;
	background-image: url("#{resource['default:images/aqua.png']}");
	background-repeat: no-repeat;
}

.navbar-primary .navbar {
	background-color: #EB0318;
	background-image: url("#{resource['default:images/aqua.png']}");
	background-repeat: no-repeat;
}

.navbar-primary .navbar .nav>li>a {
	color: #501762;
}

.navbar-primary .navbar .nav>li>a:hover {
	color: #fff;
	background-color: #8e49a3;
}

.navbar-primary .navbar .nav .active>a, .navbar .nav .active>a:hover {
	color: #fff;
	background-color: #501762;
}

.navbar-primary .navbar .nav li>a .caret, .tnav .navbar .nav li>a:hover .caret
	{
	border-top-color: #fff;
	border-bottom-color: #fff;
}

.navbar-primary .navbar .nav>li.dropdown.open.active>a:hover {
	
}

.navbar-primary .navbar .nav>li.dropdown.open>a {
	color: #fff;
	background-color: #9f58b5;
	border-color: #fff;
}

.navbar-primary .navbar .nav>li.dropdown.open.active>a:hover .caret,
	.tnav .navbar .nav>li.dropdown.open>a .caret {
	border-top-color: #fff;
}

.navbar-primary .navbar .navbar-brand {
	color: #fff;
}

.navbar-primary .navbar .nav.pull-right {
	margin-left: 10px;
	margin-right: 0;
}

.navbar-xs .navbar-primary .navbar {
	min-height: 28px;
	height: 28px;
}

.navbar-xs .navbar-primary .navbar .navbar-brand {
	padding: 0px 12px;
	font-size: 16px;
	line-height: 28px;
}

.navbar-xs .navbar-primary .navbar .navbar-nav>li>a {
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 28px;
}

.navbar-sm .navbar-primary .navbar {
	min-height: 40px;
	height: 40px;
}

.navbar-sm .navbar-primary .navbar .navbar-brand {
	padding: 0px 12px;
	font-size: 16px;
	line-height: 40px;
}

.navbar-sm .navbar-primary .navbar .navbar-nav>li>a {
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 40px;
}

.navbar-sm .navbar-primary .navbar-default .navbar-toggle {
	border-color: #fff;
	padding: 7px 7px;
	margin-top: 5px;
}

.navbar-sm .navbar-primary .navbar-default .navbar-toggle:hover,
	.navbar-sm .navbar-primary .navbar-default .navbar-toggle:focus {
	background-color: #fff;
}

.navbar-sm .navbar-primary .navbar-default .navbar-toggle .icon-bar {
	background-color: #fff !important;
	height: 1px;
}

.navbar-sm .navbar-primary .navbar-default .navbar-toggle:hover .icon-bar,
	.navbar-sm .navbar-primary .navbar-default .navbar-toggle:focus .icon-bar
	{
	background-color: #EB0318 !important;
}

.navbar-toggle .icon-bar+.icon-bar {
	margin-top: 6px;
}

input { text-transform: uppercase !important; }
input.telExt { text-transform: none; !important; }


.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}