@CHARSET "ISO-8859-1";

* {
	font-family: sans-serif;
}

html, body {
	font-size: 12px;
	font-family: sans-serif;
	margin: 0px;
	paddding: 0px;
	width: 100%;
	max-width: 100%;
}

.ui-picklist table {
	width: auto;
	color: red;
}

.basic {
	background-color: gray;
}

.time {
	text-align: right;
}

.numeric {
	text-align: right;
}

.alerta {
	color: #ED1B24;
}

.indicador_rojo {
	background-color: red;
	color: #FFF;
}

.indicador_amarillo {
	background-color: yellow;
	color: #000;
}

.indicador_verde {
	background-color: green;
	color: #FFF;
}

.perfil-style {
	background-color: #F2F2F2;
	font-weight: bold;
}

.genoma_rojo {
	background-color: #ED1B24;
	color: #FFF;
}

.genoma_aqua {
	background-color: #18989D;
	color: #FFF;
}

.genoma_negro {
	background-color: #3A3434;
	color: #FFF;
}

.genoma_gris {
	background-color: #4D4D4F;
	color: #FFF;
}

.genoma_gris {
	background-color: #FFF;
}

.white {
	background-color: #FFF !important;
}

.lblsmall {
	width: 100px;
	display: block;
}

.lblmedium {
	width: 150px;
	display: block;
}

.lbllarge {
	width: 200px;
	display: block;
}

.col {
	top: 0;
	bottom: 0;
}

.scroll-x {
	overflow-x: auto;
}

.scroll-y {
	overflow-y: auto;
}

.ui-menu .ui-menu-parent .ui-menu-child {
	white-space: nowrap;
	width: auto;
	min-width: 200px;
	padding-left: 10px;
	padding-right: 10px;
}

.calendarList input{
	width: 100px;	
}

div.row.row-sm.estadistica {
   	margin-right: -10px !important;
   	margin-left: -10px !important;
   	text-align: center !important;
}
div.row.row-sm.estadistica .col-md-3 {
	padding-left:5px;
	padding-right: 5px;
}
div.row.row-sm.estadistica div.padder-v {
   	padding-top: 15px  !important;
   	padding-bottom: 15px !important;
}
div.row.row-sm.estadistica .block{
	display:block !important;
}

div.row.row-sm.estadistica .bg-success {
	color: #dcf2f8;
	background-color: #ff4545;
}
div.row.row-sm.estadistica .font-thin {
	font-weight: 600;
	text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
}
div.row.row-sm.estadistica .text-white {
	color: #000000;
}
div.row.row-sm.estadistica a.block.panel.padder-v.bg-success.item {
	background-color: #9b9c9c;
}
div.row.row-sm.estadistica .bg-success .text-muted {
	color: #000000;
}
div.row.row-sm.estadistica .item {
	position: relative;
}
div.row.row-sm.estadistica .panel {
	border-radius: 4px;
	margin-bottom: 10px;
}
div.row.row-sm.estadistica h1, div.row.row-sm.estadistica .h1 {
	font-size: 36px;
	line-height: 8px;
}

div.row.row-sm.estadistica .item .top {
	top: 0;
	left: 0;
}

 { text-align: center; padding-top: 24px; }

.shadow-config() {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: inherit;
  height: inherit;
  z-index: -2;
  .border-radius(inherit);
  pointer-events: none;
  .box-sizing(border-box);
}

.shadow {
  &-1:before {
    .shadow-config();
    .box-shadow(0 2px 5px 0 rgba(0, 0, 0, 0.26)); 
  }
  &-1:after {
    .shadow-config();
    .box-shadow(0 2px 10px 0 rgba(0, 0, 0, 0.16));
  }
  &-2:before {
    .shadow-config();
    .box-shadow(0 8px 17px 0 rgba(0, 0, 0, 0.2));
  }
  &-2:after {
    .shadow-config();
    .box-shadow(0 6px 20px 0 rgba(0, 0, 0, 0.19));
  }
  &-3:before {
    .shadow-config();
    .box-shadow(0 12px 15px 0 rgba(0, 0, 0, 0.24));
  }
  &-3:after {
    .shadow-config();
    .box-shadow(0 17px 50px 0 rgba(0, 0, 0, 0.19));
  }
  &-4:before {
    .shadow-config();
    .box-shadow(0 16px 28px 0 rgba(0, 0, 0, 0.22));
  }
  &-4:after {
    .shadow-config();
    .box-shadow(0 25px 55px 0 rgba(0, 0, 0, 0.21));
  }
  &-5:before {
    .shadow-config();
    .box-shadow(0 27px 24px 0 rgba(0, 0, 0, 0.2));
  }
  &-5:after {
    .shadow-config();
    .box-shadow(0 40px 77px 0 rgba(0, 0, 0, 0.22));
  }
  &-btn:before {
    .shadow-config();
    .box-shadow(0 2px 5px 0 rgba(0, 0, 0, 0.26)); 
  }
  &-btn:after {
    .shadow-config();
    .box-shadow(0 2px 10px 0 rgba(0, 0, 0, 0.16));
  }
  &-btn:active {
    &:before {
    .shadow-config();
    .box-shadow(0 8px 17px 0 rgba(0, 0, 0, 0.2));
    .transition(box-shadow 0.28s cubic-bezier(0.4, 0, 0.2,1));
    }
    &:after {
      .shadow-config();
      .box-shadow(0 6px 20px 0 rgba(0, 0, 0, 0.19));
      .transition(box-shadow 0.28s cubic-bezier(0.4, 0, 0.2,1));
    }
  }
}


.fab {
  position: relative;
  outline: none;
  cursor: pointer;
  z-index: 0;
  width: 56px;
  height: 56px;
  background: #d23f31;
  font-size: 14px;
  color: #fff;
  padding: 16px;
  .user-select(none);
  .border-radius(50%);
  .box-sizing(border-box);
}

.btn-raised {
  background: #4285f4;
  color: #fff;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  min-width: 5.14em;
  padding: 0.7em 0.57em;
  margin: 0 0.29em;
  text-align: center;
  font: inherit;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  border-radius: 3px;
  user-select: none;
  cursor: pointer;
  z-index: 0;
  }


.card {
  background: white;
  position: relative;
  .border-radius(2px);
  .box-sizing(border-box);
  font-size: 1.5em;
}

.content > div {
  margin: 40px;
}


.flex {
  .display(flex);
  .flex-direction(row);
  .flex-wrap(nowrap);
  .justify-content(center);
  .align-items(center);
}

.top {
  .align-self(flex-start);
}