<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">    
    <p:menuitem  ajax="false"  value="Áreas" action="areas" rendered="#{sesionUsuario.administrador}" />
    <p:menuitem  ajax="false"  value="Cargos" action="cargos"  rendered="#{sesionUsuario.administrador}" />
    <p:menuitem  ajax="false" value="Usuarios" action="usuarios"  rendered="#{sesionUsuario.administrador}" />
    <p:menuitem  ajax="false" rendered="#{sesionUsuario.jefeSupervisor}" value="Asignar Supervisores" action="asignar_supervisores" />
    <p:menuitem  ajax="false" value="Asignar Agentes" action="asignar_agentes" rendered="#{sesionUsuario.jefeSupervisor}" />
    <p:menuitem  ajax="false" value="Administrar Cuestionarios" action="cuestionarios" rendered="#{sesionUsuario.jefeSupervisor}">
    	<f:setPropertyActionListener value="list" target="#{cuestionariosView.outcome}" />
    </p:menuitem>
     <p:menuitem  ajax="false" value="Configurar Error Critico" action="error_critico" rendered="#{sesionUsuario.jefeSupervisor}" />
    <p:menuitem  ajax="false" value="Asignar Programación" action="programacion" rendered="#{sesionUsuario.jefeSupervisor}" />
</ui:composition>
        
