<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<h:form>
					<h:panelGrid columns="2" 
								 style="width:100%;
								        background-color: red;
								        height: 50px;">
					    
					    <h:commandLink class="navbar-brand" 
					    			   action="home"
					    			   style="float:left">
							<h:graphicImage library="default" name="./images/logo-muebles-jamar.png"/>
						</h:commandLink>
						
						<p:menubar style="float: right;
									      padding-right: 0;
									    padding: 0 0 0 0;
									    background-color: red !important;
									    background-image: none;
									    border: 0px;" 
									    styleClass="reset">
							<f:facet name="options">
								<p:menuButton value="#{loginManagedBean.userName}"
											  style="background-image: none;">
									<p:menuitem  ajax="false"  
												 immediate="true" 
												 value="Salir" 
												 actionListener="#{loginManagedBean.logout}" 
												 update="@all" 
												 icon="fa fa-fw fa-sign-out"  
												 styleClass=""/>
										<p:menuitem disabled="true"  value="Rojo" actionListener="#{loginManagedBean.setRed}"  update="@all" ajax="false"/> 
											<p:menuitem disabled="true"  value="Gris" actionListener="#{loginManagedBean.setGris}"  update="@all"/>
								</p:menuButton>
							</f:facet>
						</p:menubar>
					</h:panelGrid>
				</h:form>
			</div>
		</div>
	</nav>

</ui:composition>

