<ui:composition  template="layout.xhtml" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">                
            <ui:define name="title">Dashboard</ui:define>
            <ui:define name="content">
            
              
	         
              <h:form id="form_id">
              
                <p:poll interval="10" listener="#{dashboardManagedBean.updatePage}" update=":form_id:panel_dashboard_id"/>
            	
        		<h:panelGroup style="margin-left:10px" id="panel_dashboard_id">
		        <h:panelGrid columns="2" style="width:100%" border="0">
		        
			      <h2 style="margin-right: 90px;">Dashboard</h2>
		          
		          <h:panelGrid columns="3" style="width:70%" border="0">
			        <p:selectOneMenu immediate="true"  value="#{dashboardManagedBean.consCampana}" style="width:125px">
	        		    <f:selectItems value="#{dashboardManagedBean.campanaItems}"/>
			        </p:selectOneMenu>
			        
			        <p:calendar immediate="true" showOn="button"  id="btnFechaInicio" value="#{dashboardManagedBean.initialDate}" timeZone="America/Bogota"/>
			        <p:calendar immediate="true"  showOn="button"  id="btnFechaFin" value="#{dashboardManagedBean.finalDate}" timeZone="America/Bogota"/>
			       </h:panelGrid>
			        
		        </h:panelGrid>
		        
		         <div style="border-bottom: 1px solid #CCCCCC; width:100%"/>
		         
		        <h:panelGrid columns="3" style="width:100%" border="0" rendered="#{dashboardManagedBean.attempts!=null and !empty dashboardManagedBean.attempts}">
		          <p:chart type="pie" model="#{dashboardManagedBean.customAnswer}" style="width:300px;height:250px" />
		          <span></span>
		          <p:chart type="pie" model="#{dashboardManagedBean.sourceAnswer}" style="width:300px;height:270px" />
		        </h:panelGrid>
 				<br/>
            	<h3><p:outputLabel value="Últimos Intentos"></p:outputLabel></h3>
            	
            	<div style="width:100%; max-height: 400px; overflow-y: auto; overflow-x: hidden">
	            	<p:dataTable var="attempt" value="#{dashboardManagedBean.attempts}">
					    <p:column headerText="Cliente">
					        <h:outputText value="#{attempt[0]}" />
					    </p:column>
					 
					    <p:column headerText="Intentos">
					        <h:outputText value="#{attempt[1]}" />
					    </p:column>
					 
					    <p:column headerText="Resultado">
					        <h:outputText value="#{attempt[2]}" />
					    </p:column>
					 
					    <p:column headerText="Respuesta">
					        <h:outputText value="#{attempt[3]}" />
					    </p:column>
					    
					    <p:column headerText="Fecha hora de ejecución">
					        <h:outputText value="#{attempt[4]}" />
					    </p:column>
						</p:dataTable>
					</div>
				</h:panelGroup>            
            </h:form>
            
            </ui:define>
</ui:composition>

