<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:of="http://omnifaces.org/functions"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet library="default" name="css/prime.css"/>
        <title><ui:insert name="title">RoboCall</ui:insert></title>
        <style>
           .column1{
           		vertical-align: top;
           		border: 0px  solid #000;
           }
           
           body{
           background-color: rgba(173, 173, 173, 0.01);}
        </style>
        
    </h:head>

    <h:body>       
        <ui:insert name="header">
            <ui:include src="/WEB-INF/layouts/header.xhtml"/>
        </ui:insert>
        
      <h:form>
        <p:tabMenu  activeIndex="#{principalManagedBean.menuTabIndex}">
		    <p:menuitem value="Dashboard" url="home.xhtml">
		        <f:param name="i" value="0" />
		    </p:menuitem>
		    <p:menuitem value="Parametrización" url="parametrization.xhtml">
		        <f:param name="i" value="1" />
		    </p:menuitem>
		    <p:menuitem value="Reportes" url="reports.xhtml">
		        <f:param name="i" value="2" />
		    </p:menuitem>

		</p:tabMenu>
	</h:form>  	
        <ui:insert name="content"></ui:insert>
    </h:body>

</html>
