
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, maximum-scale=1" />
	<h:outputStylesheet library="default" name="css/voicekeeper.css" />
	<h:outputStylesheet library="default" name="css/prime.css" />
	<h:outputStylesheet library="default" name="css/bootstrap.css" />
	<title>Robocall</title>
<style type="text/css">
textarea {
	text-transform: uppercase;
}

.tsDualPickList {
	width: 100% !important;
}

.tsDualPickList .ui-picklist-list {
	width: 100% !important;
}

nav.navbar-jamar {
	background-color: #EB0318;
	height: 102px;
		
}

nav.navbar-jamar img.logo {
	width: 210px;
	height: 74px;
	margin-top: 20px;
	left: 15px;
	
	
}

input.cedulajamar {
	height: 1.5em;
	font-size: 2em;
}

.jamarcontent .panel {
	margin-top: 20px;
}

.ui-growl {
	z-index: 15000 !important;
}
</style>

	<style>
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
	width: auto;
	max-width:350px;
	padding: 120px 0 0;
	margin: auto;
}

.form {
	position: relative;
	z-index: 1;
	background: #FFFFFF;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0
		rgba(0, 0, 0, 0.24);
}

.form input {
	font-family: "Roboto", sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 18px;
}

.form button {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #EB0318;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}



.form button:hover, .form button:active, .form button:focus {
	background: #f00000;
}

.form .message {
	margin: 15px 0 0;
	color: #b3b3b3;
	font-size: 12px;
}

.form .message a {
	color: #4CAF50;
	text-decoration: none;
}

.form .register-form {
	display: none;
}

.container {
	position: relative;
	z-index: 1;
	max-width: 300px;
	margin: 0 auto;
	padding-left: 70px;
	margin-top: 40px;
	
	
}

.container:before, .container:after {
	content: "";
	display: block;
	clear: both;
}

.container .info {
	margin: 50px auto;
	text-align: center;
}

.container .info h1 {
	margin: 0 0 15px;
	padding: 0;
	font-size: 36px;
	font-weight: 300;
	color: #1a1a1a;
}

.container .info span {
	color: #4d4d4d;
	font-size: 12px;
}

.container .info span a {
	color: #000000;
	text-decoration: none;
}

.container .info span .fa {
	color: #EF3B3A;
}



body {
	background: #76b852; /* fallback for old browsers */
	background: -webkit-linear-gradient(right, #E4E4E4, #D1D1D1);
	background: -moz-linear-gradient(right, #E4E4E4, #D1D1D1);
	background: -o-linear-gradient(right, #E4E4E4, #D1D1D1);
	background: linear-gradient(to left, #E4E4E4, #D1D1D1);
	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
</style>
</h:head>

<h:body>

		<p:growl life="10000" id="msg" showSummary="true"  />
		<nav class="navbar navbar-default navbar-fixed-top navbar-jamar"
			style="">
			<div class="container">
				 <h:graphicImage library="default" name="images/logo-muebles-jamar.png"/>
			</div>
		</nav>

	<div class="login-page">
		<div class="form">
			<h:form class="login-form" id="form" prependId="false" >
				<p:inputText value="#{loginManagedBean.userName}"
					placeholder="Usuario" style="text-transform:uppercase"
					required="true" requiredMessage="El nombre de usuario es requerido"
					onblur="value=value.toUpperCase()" />
				<p:password required="true"
					requiredMessage="El password es requerido"
					value="#{loginManagedBean.password}" placeholder="Contraseña" />
				
				<h:selectOneMenu id="txtMarket" styleClass="form-control"
					value="#{loginManagedBean.market}">
					<f:selectItem itemLabel="COLOMBIA" itemValue="JA" />
					<f:selectItem itemLabel="PANAMÁ" itemValue="JP" />
				</h:selectOneMenu>
				
				<h:selectOneMenu id="txtSistema"  styleClass="form-control"
					value="#{loginManagedBean.system}" style="margin-top: 10px;">
					<f:selectItem itemLabel="SUPERVISIÓN" itemValue="home.xhtml" />
				</h:selectOneMenu>
				
				
				<p:commandButton id="btnLogin" value="Ingresar"
					style="margin-top: 10px;  text-align: center;"  ajax="false" update="display,msg"
					actionListener="#{loginManagedBean.login}">
				</p:commandButton>
				
				<p:commandButton id="btnCleanLogin" value="Limpiar" type="reset"
					style="margin-top: 10px; "
					actionListener="#{loginManagedBean.clean}">
				</p:commandButton>
				
			</h:form>
		</div>
	</div>
</h:body>
</html>

