<ui:composition  template="layout.xhtml" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">                
            <ui:define name="title">Campaña</ui:define>
            <ui:define name="content">
               <div style="margin-left: 10px;
						    margin-right: 10px;
						    padding-right: 10px;
						    padding-left: 10px;">
	            <h2><p:outputLabel rendered="#{newOperationManagedBean.current_item.nombre!=null}">
	            	Campaña #{newOperationManagedBean.current_item.rbcCampanaPK.cons}
	            </p:outputLabel></h2>
	             <h2><p:outputLabel rendered="#{newOperationManagedBean.current_item.nombre==null}">
	               Nueva Campaña
	            </p:outputLabel></h2>
	            <div style="border-bottom: 1px solid #CCCCCC; width:100%"/>
	            <h:form enctype="multipart/form-data" >
	            	<p:messages  autoUpdate="true" closable="true" />
	            <div style="width:100%;overflow:hidden"> 
	            
	            <h:panelGrid id="panelPrincipal" style="width:80%" columns="2" columnClasses="column1" border="0">
	            
	            	<h:panelGrid id="panelLeft" columns="2"  columnClasses="column1" border="0" cellspacing="10">
	            	   <p:outputLabel style="font-weight: bold;" value="Nombre" for="nombre_id"/>
	            	   <p:inputText value="#{newOperationManagedBean.current_item.nombre}" 
	            	   			    readonly="#{newOperationManagedBean.currentStatus!='CREATE'}"
	            	   			    style="width:240px"
	            	   			    required="true"
	            	   			    requiredMessage="Campo nombre requerido"
	            	   			    id="nombre_id"></p:inputText>
	            	   
	            	   <p:outputLabel style="font-weight: bold;" for="btnFechaInicio" value="Fecha Inicio" />
        			   <p:calendar  showOn="button"  id="btnFechaInicio" value="#{newOperationManagedBean.current_item.fechaInicio}" 
        			   				readonly="#{newOperationManagedBean.currentStatus!='CREATE'}"
        			   				required="true"
        			   				requiredMessage="Campo fecha inicio requerido"
        			   				converterMessage="Formato inválido para el campo Fecha Inicio"
        			   				timeZone="America/Bogota"
        			   				readonlyInput="#{newOperationManagedBean.currentStatus!='CREATE'}">
        			   	</p:calendar>
	            	   
	            	   <p:outputLabel style="font-weight: bold;" value="Descripción"></p:outputLabel>
	            	   <p:inputTextarea value="#{newOperationManagedBean.current_item.descripcion}" 
	            	   					readonly="#{newOperationManagedBean.currentStatus!='CREATE'}"
	            	   					style="width:240px;height:100px">
	            	   </p:inputTextarea >
	            	   
	            	   <p:outputLabel style="font-weight: bold;" value="Audio Pregunta"></p:outputLabel>
	           	   		<p:fileUpload value="#{newOperationManagedBean.voiceFile}" 
	           	   				  mode="simple" 
	           	   				  label="Seleccionar audio"
	           	   				  disabled="#{newOperationManagedBean.currentStatus!='CREATE'}"/> 
	           	   				  
	            	   <p:outputLabel style="font-weight: bold;" value="Pregunta Correo" for="correo_id"></p:outputLabel>
	            	   <p:inputTextarea value="#{newOperationManagedBean.current_item.textoPreguntaCorreo}"
	            	   					readonly="#{newOperationManagedBean.currentStatus!='CREATE'}"
	            	   					style="width:240px;height:100px;"
	            	   					required="true"
	            	   					requiredMessage="Campo pregunta correo requerido"
	            	   					id="correo_id">
	            	   </p:inputTextarea>

	            	   <p:outputLabel style="font-weight: bold;" value="Texto Si" for="si_id"></p:outputLabel>
	            	   <p:inputText value="#{newOperationManagedBean.current_item.textoSiCorreo}" 
	            	   				readonly="#{newOperationManagedBean.currentStatus!='CREATE'}"
	            	   				style="width:240px;"
	            	   				required="true"
	            	   				requiredMessage="Campo 'Texto Si' requerido"
	            	   				id="si_id">
	            	   </p:inputText>
	            	   
	            	   <p:outputLabel style="font-weight: bold;" value="Texto No" for="no_id"></p:outputLabel>
	            	   <p:inputText value="#{newOperationManagedBean.current_item.textoNoCorreo}"
	            	   				readonly="#{newOperationManagedBean.currentStatus!='CREATE'}"
	            	   				style="width:240px;"
	            	   				required="true"
	            	   				requiredMessage="Campo 'Texto No' requerido"
	            	   				id="no_id">
	            	   </p:inputText>
	            	
	            	</h:panelGrid>
	            	<h:panelGroup>
	            	
		            	<h:panelGrid id="panelRigth" columns="3" columnClasses="column1" border="0" cellspacing="10">
		            	   <p:outputLabel></p:outputLabel>
		            	   <p:outputLabel style="font-weight: bold;" value="Numero de intentos"></p:outputLabel>
		            	   <p:outputLabel style="font-weight: bold;" value="Tiempo de timbrado"></p:outputLabel>
		            	   
		            	    <p:outputLabel style="font-weight: bold;" value="Telefono 1" for="tel1_id"/>
		            	    <p:inputText value="#{newOperationManagedBean.current_item.intentosTelefono1}"
		            	    			 readonly="#{newOperationManagedBean.currentStatus!='CREATE'}"
		            	    			 style="width:70px;"
		            	    			 converterMessage ="Debe ingresar un numero en campo numero de intento"
		            	    			 id="tel1_id">	 
		            	    		 
		            	    </p:inputText>
		            	    <p:inputText value="#{newOperationManagedBean.current_item.timbradoTelefono1}"
		            	    			 readonly="#{newOperationManagedBean.currentStatus!='CREATE'}"
		            	    			 style="width:70px;"
			 							 converterMessage ="Debe ingresar un numero en campo tiempo timbrado"
			 							 >		 
		            	    		 
		            	    </p:inputText>
		            	   
		            	   	<p:outputLabel style="font-weight: bold;" value="Telefono 2" for="tel2_id"/>
		            	   	<p:inputText value="#{newOperationManagedBean.current_item.intentosTelefono2}"
		            	   				 readonly="#{newOperationManagedBean.currentStatus!='CREATE'}"
		            	   				 style="width:70px;"
		            	   				converterMessage ="Debe ingresar un numero en campo numero de intento">		 
		            	    		 
		            	    </p:inputText>
		            	   	<p:inputText value="#{newOperationManagedBean.current_item.timbradoTelefono2}"
		            	   				 readonly="#{newOperationManagedBean.currentStatus!='CREATE'}"
		            	   				 style="width:70px;"
		            	   				 converterMessage ="Debe ingresar un numero en campo tiempo timbrado"
		            	   				 id="tel2_id">	 
		            	    		 
		            	    </p:inputText>
	        				
	        				<p:outputLabel style="font-weight: bold;" value="Telefono 3"  for="tel3_id"/>
	        				<p:inputText value="#{newOperationManagedBean.current_item.intentosTelefono3}"
	        						     disabled="{newOperationManagedBean.currentStatus!='CREATE'}"
	        						     style="width:70px;"
	        						     converterMessage ="Debe ingresar un numero en campo numero de intento"
	        						     id="tel3_id">		 
		            	    		 
		            	    </p:inputText>
	        				<p:inputText value="#{newOperationManagedBean.current_item.timbradoTelefono3}"
	        							 readonly="#{newOperationManagedBean.currentStatus!='CREATE'}"
	        							 style="width:70px;"
	        							 converterMessage ="Debe ingresar un numero en campo tiempo timbrado">		 
		            	    		 
		            	    </p:inputText>
	        				
	        				<p:outputLabel style="font-weight: bold;" value="Telefono 4" for="tel4_id"/>
	        				<p:inputText value="#{newOperationManagedBean.current_item.intentosTelefono4}"
	        							 readonly="#{newOperationManagedBean.currentStatus!='CREATE'}"
	        							 style="width:70px;"
	        							 converterMessage ="Debe ingresar un numero en campo numero de intento"
	        							 id="tel4_id">	 
		            	    		 
		            	    </p:inputText>
	        				<p:inputText value="#{newOperationManagedBean.current_item.timbradoTelefono4}"
	        							 readonly="#{newOperationManagedBean.currentStatus!='CREATE'}"
	        							 style="width:70px;"			 
	        							 converterMessage ="Debe ingresar un numero en campo tiempo timbrado">
		            	    			 
		            	    		 
		            	    </p:inputText>
	
	        				<p:outputLabel style="font-weight: bold;" value="Telefono 5" for="tel5_id"/>
	        				<p:inputText value="#{newOperationManagedBean.current_item.intentosTelefono5}"
	        							 readonly="#{newOperationManagedBean.currentStatus!='CREATE'}"
	        							 style="width:70px;"
	        							 converterMessage ="Debe ingresar un numero en campo numero de intento"
	        							 id="tel5_id">
		            	    			 
		            	    		 
		            	    </p:inputText>
	        				<p:inputText value="#{newOperationManagedBean.current_item.timbradoTelefono5}"
	        							 readonly="#{newOperationManagedBean.currentStatus!='CREATE'}"
	        							 style="width:70px;"
	        							 converterMessage ="Debe ingresar un numero en campo tiempo timbrado">
		            	    		 
		            	    		 
		            	    </p:inputText>
		            	
		            	</h:panelGrid>
		            	
		            	<h:panelGrid columns="2" border="0">
		            		<p:selectBooleanCheckbox value="#{newOperationManagedBean.current_item.enviarCorreo}"
		            				                 readonly="#{newOperationManagedBean.currentStatus!='CREATE'}"
		            				                 />
					        <p:outputLabel style="font-weight: bold;" value="Intentar Correo en caso de error " />
		            	</h:panelGrid>
		            	
		            	<h:panelGrid style="margin-top:10px;width:400px; height:70px;background-color:#e0e0e0; 
		            						border-radius:15px; -moz-border-radius: 15px; -webkit-border-radius: 15px;">
		            		<p:outputLabel value="Cargar Cuentas" style="display:block;font-weight: bold;" />
							<p:fileUpload value="#{newOperationManagedBean.otherFile}"
										  label="Seleccionar Excel" 
										  mode="simple"
										  disabled="#{newOperationManagedBean.currentStatus!='CREATE'}"/>
		            	
		            	</h:panelGrid>
		            	
	            	</h:panelGroup>
	            	
	            	
					


				</h:panelGrid>
	              </div>
	              
	              <h:panelGrid columns="2" 
	              				style="float:right;" 
	              				columnClasses="column1" 
	              				border="0">
	              	    
	              	    <p:commandButton value="Volver" styleClass="ui-priority-primary" ajax="false" action="parametrization" 
	              	    				 partialSubmit="false"/>
	              	    				 
	              	    <p:commandButton value="Guardar" styleClass="ui-priority-primary" ajax="false" action="#{newOperationManagedBean.save}" 
	              	    				 rendered="#{newOperationManagedBean.currentStatus=='CREATE'}"
	              	    				 partialSubmit="false"/>
	              	    
	              	    <p:commandButton value="Iniciar" 
	              	    				 styleClass="ui-priority-primary" 
	              	    				 ajax="false" 
	              	    				 action="#{newOperationManagedBean.start}" 
	              	    				 rendered="#{newOperationManagedBean.currentStatus=='CREATE' and newOperationManagedBean.edit}" 
	              	    				 partialSubmit="true"/>
	              		
	              </h:panelGrid>	
	              
	              
<!-- 	              <h:form> -->
				    <p:growl id="messages" showDetail="true" rendered="false"  />
				 
				    <p:fileUpload rendered="false" required="false"  value="#{newOperationManagedBean.otherFile}" mode="simple" skinSimple="true" update="@all"/>
				 
				    <p:commandButton rendered="false" value="Submit" ajax="false" actionListener="#{newOperationManagedBean.upload}"  />
<!-- 				</h:form> -->
	              
	              
	          </h:form>
			  <h:panelGrid columns="2" 
			  			   style="width:100%"
			  			   rendered="false">
	             <h2><p:outputLabel>
					Archivos Adjuntos.
	            </p:outputLabel></h2>
	          <p:panel>	          
           	   	<p:outputLabel value="Audio Pregunta"></p:outputLabel>
           	   	<h:form enctype="multipart/form-data">
	           	   	<p:fileUpload value="#{newOperationManagedBean.voiceFile}" 
	           	   				  mode="simple" 
	           	   				  label="Seleccionar audio"
	           	   				  /> 
	           	   	<p:commandButton id="chargeAdio" ajax="false" value="Cargar" actionListener="#{newOperationManagedBean.uploadMedia}"/>
           	   	</h:form>
			  </p:panel>
					          
	          <div style="background-color: red; width: 300px; height: 300px">
					<p:outputLabel value="Cargar Cuentas" style="display:block" />
					 <h:form enctype="multipart/form-data" >
						<p:fileUpload
							value="#{newOperationManagedBean.otherFile}"
							label="Seleccionar documento" 
							mode="simple"/>
							
						<p:commandButton ajax="false" value="Cargar" actionListener="#{newOperationManagedBean.uploadFile}"/>
					 </h:form>
				</div>
				
				
				
		  </h:panelGrid>
	     </div>  
            
    </ui:define>
</ui:composition>
