<ui:composition  template="layout.xhtml" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">                
            <ui:define name="title">Parametrización</ui:define>
            <ui:define name="content">
            <div style="padding-left: 10px;
					    padding-right: 10px;
					    margin-right: 10px;
					    margin-left: 10px;">
	            <h:form>
		            <h2><p:outputLabel>Listado de Campañas</p:outputLabel></h2>
		            
		            <p:commandButton value="Nueva Campaña"
		            				 styleClass="ui-priority-primary" 
		            				 action="newOperation"
		            				 actionListener="#{parametrizationManagedBean.loadNewForm}"
		            				 style="float:right;
		            				 		display:block;
		            				 		background-color: green !important;
    										background-image: none;"
		            				 ajax="false"/>
		            <br/><br/> <br/>				 
					
		<div style="width:100%; max-height: 400px; overflow-y: auto; overflow-x: hidden">
		            <p:dataTable var="cam" 
		            			 value="#{parametrizationManagedBean.campanas}"
		            			 rows="10"
		            			 paginator="true"
		                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
		                         rowsPerPageTemplate="5,10,15">
						    <p:column headerText="Nombre">
						        <h:outputText value="#{cam.nombre}" />
						    </p:column>
						    
						    <p:column headerText="Descripción">
						        <h:outputText value="#{cam.descripcion}" />
						    </p:column>
						    
						    
						     <p:column headerText="Estado">
						        <h:outputText value="#{cam.rbcEstados.nombre}"  rendered="#{cam.rbcEstados!=null}"/>
						    </p:column>
						 
						    <p:column headerText="Fecha Inicio">
						        <h:outputText value="#{cam.fechaInicio}">
						        	<f:convertDateTime timeZone="America/Bogota" pattern="dd/MM/yyyy"/>
						        </h:outputText>
						    </p:column>
						    
						    <p:column width="100px">
						    	<p:commandButton value="Seleccionar"
		            				 styleClass="ui-priority-primary" 
		            				 action="newOperation"
		            				 style="float:right;
		            				 		display:block;
		            				 		background-image: none;
    										background-color: #00bcd4 !important;"
		            				 ajax="false"
		            				 actionListener="#{parametrizationManagedBean.loadView}">
		            		    	<f:attribute value="#{cam}" name="item"/>
		            		    </p:commandButton>
						    
						    </p:column>
					
						</p:dataTable>
				</div>
			   	</h:form>			
            </div>
            
            </ui:define>
</ui:composition>
