<ui:composition  template="layout.xhtml" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">                
            <ui:define name="title">Reportes</ui:define>
            <ui:define name="content">
            <div style="padding: 0px 10px 35px 10px;">
	            <h:form id="form1">
	            	<h2><p:outputLabel>Reportes</p:outputLabel></h2>
	            	<div style="border-bottom: 1px solid #CCCCCC; width:100%"/>
	            	<br/>
	            	<h4><p:outputLabel>Filtros</p:outputLabel></h4>
	            
		            <h:panelGrid columns="4"  
		            			 style="width: 100%;"
		            			 border="0">
		            	<p:selectOneMenu  value="#{reportManagedBean.reportId}" style="width:125px" >
				            <f:selectItem itemLabel="Seleccionar reporte" itemValue="-1" />
				            <f:selectItem itemLabel="Estados de llamadas" itemValue="1" />
				            <f:selectItem itemLabel="Respuestas de los clientes" itemValue="2" />
				            <f:selectItem itemLabel="Origen de las respuestas" itemValue="3" />
				            <f:selectItem itemLabel="Últimos intentos" itemValue="4" />
				            
				        </p:selectOneMenu>
				        
				        <p:selectOneMenu  value="#{reportManagedBean.consCampana}" style="width:125px" >
			        		    <f:selectItems value="#{reportManagedBean.campanaItems}"/>
					        </p:selectOneMenu>
					        
					        <p:calendar  showOn="button"  id="btnFechaInicio" value="#{reportManagedBean.initialDate}" />
					        <p:calendar  showOn="button"  id="btnFechaFin" value="#{reportManagedBean.finalDate}"/>
				        
				        
		            </h:panelGrid>
		            <br/><br/><br/>
		            <p:commandButton value="Exportar en excel" ajax="false" 
				    				 onclick="PrimeFaces.monitorDownload(start, stop);" 
				    				 icon="ui-icon-arrowthick-1-s"
				    				 actionListener="#{reportManagedBean.generateExcel}"
				    				 styleClass="ui-priority-primary"
				    				 style="background-color: #2196f3;
    										background-image: none;">
				        <p:fileDownload value="#{reportManagedBean.file}"  />
				    </p:commandButton>
	            </h:form>
            
            </div>
            </ui:define>
</ui:composition>
